#main-header img {
  width: 100%;
  height: 100%;
}

#main-header .port-item {
  width: 30%;
}

#main-header .port-item:hover {
  opacity: 0.8;
  cursor: pointer;
}

.bg-black {
  background: #000;
  color: #fff;
}

.prepend-min-width {
  min-width: 55px;
  display: grid;
}

.contact-form:focus {
  border: 2px solid #c10000;
  transition: border 0.2s;
}

@media (min-width: 1199px) {
  .port-item {
    padding: 3em !important;
  }
}
